/nbproject/private/
/nbproject/
/vendor
/index.php
/composer.lock
/.project
/.idea/
/public/index2.html
/public/pages/
/public/bootstrap/
/public/teste.php
/public/starter.html
/public/documentation/
/public/favicon.ico
/public/dist/
/public/changelog
/public/index.html
/public/plugins/
/composer.min.json
/data/cache/*/**