<html>
    <head>
        <link href='//fonts.googleapis.com/css?family=Lato:100' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Raleway|Lobster|Bree+Serif|Francois+One|Josefin+Sans|Orbitron:400,700|Alegreya|Exo|Cinzel' rel='stylesheet' type='text/css'>
        <link rel="apple-touch-icon" sizes="57x57" href="/storage/favicon/apple-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="/storage/favicon/apple-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="/storage/favicon/apple-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="/storage/favicon/apple-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="/storage/favicon/apple-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="/storage/favicon/apple-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="/storage/favicon/apple-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="/storage/favicon/apple-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="/storage/favicon/apple-icon-180x180.png">
        <link rel="icon" type="image/png" sizes="192x192"  href="/storage/favicon/android-icon-192x192.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/storage/favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="96x96" href="/storage/favicon/favicon-96x96.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/storage/favicon/favicon-16x16.png">
        <link rel="manifest" href="/storage/favicon/manifest.json">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="/storage/favicon/ms-icon-144x144.png">
        <meta name="theme-color" content="transparent">
        <style>
            body {
                margin: 0;
                padding: 0;
                width: 100%;
                height: 100%;
                color: #8aa6c1;
                display: table;
                font-weight: 100;
                font-family: 'Lato';
            }

            .container {
                text-align: center;
                display: table-cell;
                vertical-align: middle;
            }

            .content {
                text-align: center;
                display: inline-block;
            }
            
            .important{
                color: #66595c;
                font-weight: bold;
                font-size-adjust: 80;
                font-family: 'Orbitron', sans-serif;
            }

            .title {
                font-size: 72px;
                margin-bottom: 40px;
            }
        </style>
    </head>
    <body>
        <div class="container">
            <div class="content">
                <img alt="PrimePHP" src="/storage/favicon/favicon-96x96.png" title="PrimePHP Framework">
                <h1>
                    {% block title %}
                        Index
                    {% endblock %}
                </h1>
                <h4 class="important">
                    {% block important %}
                        PrimePHP Application
                    {% endblock %}
                </h4>
                <div class="title">
                    {% block content %}
                        Seja bem vindo!
                    {% endblock %}
                </div>
            </div>
        </div>
    </body>
</html>